* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-areas:
        'header-area header-area'
        'main-area main-area'
        'footer-area footer-area';
    grid-template-columns: 100% 1fr;
    grid-template-rows: 10% 1fr 10%;
}

nav {
    grid-area: header-area;
    background-color: #00579c;
    display: flex;
}

.logo {
    line-height: 80px;
    margin: 0 10px;
    text-align: center;
    width: 100%;
    display: flex;
    gap: 10px;
}

.logo img {
    height: auto;
    width: 5%;
}

.menu {
    padding-top: 15px;
}

.menu img {
    width: 40%;
}

.menu-content {
    display: none;
}

.filter {
    background-color: #e2e2e2;
    padding: 1% 0;
    text-align: center;
    width: 100%;
}


#mb {
    padding: 5px;
    width: 90%;
}

.hero {
    grid-area: main-area;
}

.item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100px;

}

.card {
    height: 100%;
    width: 100%;
}

.card img {
    padding-top: 40px;
    height: 80%;
    width: 20%;
}

.bttn {
    padding: 7px;
}

button {
    padding: 1%;
    margin-bottom: 3%;
    background-color: black;
    color: white;
    border-radius: 4px;
}

table {
    margin: auto;
    margin-bottom: 1%;
    width: 200px;
    height: 40px;
}

th {
border: solid 1px black;
}

footer {
    grid-area: footer-area;
    color: white;
    background-color: #012f6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.social{
    margin-top: 1%;
}
.social img {
    width: 2%;
}