* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "menu menu menu"
            "search search search"
            "main main main"
            "footer footer footer";
    }
}

nav {
    grid-area: menu;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5%
}

nav section {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    text-align: start;
    gap: 5px;
}

.icons_material {
    color: white;
    font-size: 32px;
}

ul {
    display: none;
}

article {
    grid-area: search;
    background-color: rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

select {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
}

option {
    width: 200px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 5px;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 10px;
}

main p {
    padding: 10px 0;
}

img {
    width: 30%;
}

figure {
    display: none;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid;
    border-color: lightgray;
    cursor: pointer;
    margin: 0;
}

footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media (min-width: 576px) {
    .container {
        display: grid;
        grid-template-areas:
            "menu search"
            "menu main"
            "footer main";
        grid-template-columns: auto 1fr;
    }

    nav {
        grid-area: menu;
        background-color: black;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    nav section {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        gap: 5px;
    }

    .mdi-menu {
        display: none;
    }

    .icons_material {
        color: white;
        font-size: 32px;
    }

    ul {
        color: white;
        font-weight: bold;
        display: block;
    }

    article {
        grid-area: search;
        background-color: rgb(177, 177, 177);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
    }

    select {
        width: 80%;
        margin-bottom: 10px;
        padding: 10px;
    }

    option {
        width: 80%;
    }

    main {
        grid-area: main;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
        gap: 20px
    }

    figure img {
        max-width: 70%;
        height: auto;
    }

    main article {
        display: none;
    }

    main figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        text-align: center;
        align-items: center;
        margin-bottom: 2%;
        border-radius: 5px;
    }

    main p {
        padding: 5px 0;
    }

    main section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }



    footer {
        grid-area: footer;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
    }
}