* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #0082e6;
    display: flex;
}

.logo {
    line-height: 80px;
    margin: 0 10px;
    text-align: center;
    width: 100%;
    display: flex;
    gap: 3%;
}

.logo img {
    width: 5%;
}

.menu img {
    width: 40%;
    line-height: 80px;
}

.hero {
   
}

.item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100px;

}

.card-png {
    height: 100%;
    width: 100%;
}

.card-png img {
    padding-top: 40px;
    height: 80%;
    width: 20%;
}

.bttn {
    padding: 7px;
}

button {
    padding: 1%;
    margin-bottom: 3%;
    background-color: black;
    color: white;
    border-radius: 4px;
}

footer {
    background-color: #0082e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.social img {
    width: 3%;
}